<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Latest Articles from Consultant References</title>
  </head>
  <body>
    <!-- Box for scraping data -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Latest Articles</h1>
            <p class="lead">Click the button below to retrieve the latest articles about digial economy from the frequently sourced references.</p>
            <hr class="my-4">
            <p>To visit the website, click the company image.<br>
            To read the article, click the title of each article.</p>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Search</a>
        </div>
    </div>

    <!-- Container for latest articles -->
    <div class="container">
        {% for article in summary.articles %}
        <div class="row" style="height: 150px;">
          <div class="col-md-1">
            <a href="{{ article.addr }}" target="_blank"><img style="width: 50px; height: auto" src="{{ article.icon }}"></a>
          </div>
          <div class="col-md-11">
              <h2><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h2>
              <hr>
              <p>{{ article.snippet }}</p>
          </div>
        </div>
        {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>